* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* body { */
/* background-color: #EA9684; */
/* font-family: Arial, Helvetica, sans-serif; */

/* font-family: "Inter UI", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #cfd8dc;
  text-align: left;
  background: #11171a;
  background: linear-gradient(13deg, #11171a 0%, #ff9100 100%); */
/* } */

main {
  width: 500px;
  overflow: hidden;
  background-color: #11171a;
  font-size: 16px;
  line-height: 22px;
  color: #000;
  border-radius: 7px;
  box-shadow: -5px -5px 25px rgba(0, 0, 0, 0.705);
  margin: 50px auto;

  animation-name: rotate;
  animation-duration: 1s;
  animation-fill-mode: both;
}

.top-card {
  width: 100%;
  /* height: 200px; */
}

.top-card img {
  width: 100%;
}

.top-card .menu-icon {
  position: relative;
  width: 22px;
  bottom: 13.7em;
  left: 1.1em;
  cursor: pointer;
}

.top-card .menu-icon .menu {
  position: relative;
  display: block;
  width: 100%;
  height: 4px;
  background-color: #ff9100;
  margin-bottom: 6px;
  opacity: 0.5;
  transition: 0.4s;
}

.top-card .menu-icon .item1 {
  left: -5px;
}

.top-card .menu-icon .item2 {
  left: 5px;
}

.top-card .menu-icon:hover .menu {
  left: 0;
  border-radius: 1px;
}

.top-card .name {
  width: 50%;
  height: 0;
  text-align: center;
  float: right;
}

.top-card .name p {
  position: relative;
  font-size: 50px;
  font-weight: 800;
  color: #ff9100;
  opacity: 0.5;
  bottom: 140px;
  line-height: 50px;
  text-align: center;
}

.top-card .name span {
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
}

h1#h1-sm {
  font-size: 20px;
  color: white;
  font-weight: 600;
  margin: 12px 0;
  border-bottom: 4px solid #ffffff;
  width: 100%;
}

.middle-card,
footer {
  margin: 5px 25px;
}

.middle-card {
  text-align: justify;
}

footer {
  text-align: center;
}

footer .social-icon {
  /* padding: 7%; */
  font-size: 20px;
  margin: 0 5%;
  color: #ff9100;
}

.facebook:hover {
  color: #3b5999;
}
.twitter:hover {
  color: #55acee;
}
.google:hover {
  color: #dd4b39;
}
.github:hover {
  color: #302f2f;
}
.linkedin:hover {
  color: #0077b5;
}

footer .links {
  border-top: 2px solid rgba(0, 0, 0, 0.1);
  text-align: center;
  margin-top: 10px;
  padding: 8px 0;
}

footer .links address {
  font-size: 15px;
}

footer .links a {
  text-decoration: none;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.9);
}

/* ANIMATION */
@keyframes rotate {
  0% {
    transform-origin: left bottom;
    transform: rotate3d(0, 0, 1, 45deg);
    opacity: 0;
  }
  100% {
    transform-origin: left bottom;
    transform: none;
    opacity: 1;
  }
}
p {
  color: #ff9100;
  display: inline-block;
}

.fade-in-text {
  display: inline-block;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: #fdb557;
}

.fade-in-text:hover {
  color: #ffffff;
  animation: fadeIn linear 1s;
  -webkit-animation: fadeIn linear 1s;
  -moz-animation: fadeIn linear 1s;
  -o-animation: fadeIn linear 1s;
  -ms-animation: fadeIn linear 1s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

a#icon-btn {
  color: #ffffff;
}

.my_btn {
  padding: 1px 1px;
  border: 0 none;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  box-shadow: none;
}

.edit-btn {
  padding: 5px 10px;
  transition: background-color 0.5s ease;
  background-color: #ffffff;
  color: #11171a;
}

.edit-btn:hover {
  cursor: pointer;
  background-color: #11171a;
  color: #ffffff;
}

i {
  color: white;
}
